.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
}

.userImg {
  height: 25%;
  width: 25%;
  border-radius: 50%;
  -ms-flex-item-align: center;
      align-self: center;
}

.userProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userProfile h1 {
  -ms-flex-item-align: center;
      align-self: center;
}

#badges {
  padding-top: 20px;
  padding-bottom: 20px;
}

#badges ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#badges ul li {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  list-style: none;
}

#menu {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25vh;
  width: 100vw;
  color: white;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-weight: bold;
}

.dashButton {
  background-color: #ff8f43;
}

.activityButton {
  background-color: #ff5d0d;
  color: white !important;
}

.LogoutButton {
  background-color: #c42700;
}

.HomeButton {
  background-color: #f73100;
}

.scheduleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.scheduleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
}

.calender button,
.calender select {
  margin: 15px;
}

.calender button {
  width: 100%;
  height: 50px;
  font-size: x-large;
  margin-top: 90px;
}

.calender select {
  height: 40px;
  font-size: large;
}

/*login screen*/

.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.login {
  width: 70%;
  height: 50px;
  line-height: 35px;
  font-size: x-large;
  font-weight: bold;
}

.menu-top {
  width: 100%;
  background-color: orange;
  padding: 5px;
  margin-bottom: 10px;
}

.scheduleList {
  padding: 0;
}

.scheduleList li {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pastGoals {
  background: #FE8E44;
}

.currentGoal {
  background: #FE5C11;
}

.nextGoals {
  background: #FE8E44;
}

