.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
}

.userImg {
  height: 25%;
  width: 25%;
  border-radius: 50%;
  -ms-flex-item-align: center;
      align-self: center;
}

.userProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userProfile h1 {
  -ms-flex-item-align: center;
      align-self: center;
}

#badges {
  padding-top: 20px;
  padding-bottom: 20px;
}

#badges ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#badges ul li {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #1b6d85;
  list-style: none;
}

#menu {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu a {
  display: block;
  height: 33vh;
  width: 100vw;
  color: #2699FB;
  font-size: 20px;
  padding-top: 10%;
}

a {
  color: #2699FB;
  text-decoration: none;
}

.activityButton {
  background-color: #F1F9FF;
}

