.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  width: 100%;
}

.center-block {
  width: 100%;
}

.bodyHome {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 50px;
}

.userImg {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  -ms-flex-item-align: center;
      align-self: center;
}

.userProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 80%;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userProfile h1 {
  -ms-flex-item-align: center;
      align-self: center;
}

#badges {
  padding-top: 20px;
  padding-bottom: 20px;
}

#badges ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#badges ul li {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  list-style: none;
}

.humanStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kmStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message {
  -ms-flex-item-align: center;
      align-self: center;
}

.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.status {
  margin: 20px;
}

.scheduleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.scheduleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
}

.calender button,
.calender select {
  margin: 15px;
}

.calender button {
  width: 100%;
  height: 50px;
  font-size: x-large;
  margin-top: 90px;
}

.calender select {
  height: 40px;
  font-size: large;
}

/*login screen*/

.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.login {
  width: 320px;
  height: 50px;
  line-height: 35px;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 2em;
}

.login_text {
    width: 320px;
    font-size: medium;
    line-height: 20px;
    text-align: justify;
    margin-top: -3em;
    margin-bottom: 1em;
    font-weight: normal;
}

.menu-top {
  width: 100%;
  background-color: orange;
  padding: 40px;
  margin-bottom: 10px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-top .btn {
  color: white;
  text-decoration: none;
}

.scheduleList {
  padding: 0;
}

.scheduleList li {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pastGoals {
  background: #FE8E44;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.currentGoal {
  background: #FE5C11;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nextGoals {
  background: #78909C;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scheduleBody {
  width: 70%;
}

.schedule_week_goal {
  margin-top: 11px;
  margin-right: 11px;
}

.schedule_week_count {
  margin-top: 11px;
  margin-left: 11px;
}

.graph1 {
  max-width: 800px;
  max-height: 800px;
}

.progress_bar {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.progress_bar_item {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    list-style: none;
    margin: 10px 10px 25px 10px;
    border-radius: 15px;
    background-color: grey;
}

.progress_bar_item p {
    color: orange;
    position: relative;
    top: 55px;
    font-size: 12px;
    text-align: center;
}

.progress_bar_item_past_success {
    background-color: #4cae4c;
}

.progress_bar_item_past_fail {
    background-color: red;
}

.progress_bar_item_current {
    background-color: orange;
}

.progress_bar_item_future {
    background-color: grey;
}

.progress_bar_legend {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    line-height: 1;
}

.progress_bar_legend_title {

}

.progress_bar_legend_item {
    display: flex;
}

.progress_bar_legend_text {
    color: orange;
    padding-bottom: 0px;
}

.progress_bar_legend_color {
    width: 75px;
    height: 15px;
    border: 1px solid black;
    margin-right: 20px;
}

.progress_bar_legend_color_success {
    background-color: #4cae4c;
}

.progress_bar_legend_color_fail {
    background-color: red;
}

.progress_bar_legend_color_current {
    background-color: orange;
}

.progress_bar_legend_color_future {
    background-color: grey;
}