.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;

}

.userImg{
  height: 25%;
  width: 25%;
  border-radius: 50%;
  align-self: center;
}

.userProfile{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.wrap{
  display: flex;
  flex-direction: column;
}

.userProfile h1
{
  align-self: center;
}

#badges{
  padding-top: 20px;
  padding-bottom: 20px;
}

#badges ul{
  display: flex;
align-items: center;
  justify-content: space-between;
}

#badges ul li{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  list-style: none;
}

//menu items

#menu{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu a{
  display: flex;
  height: 25vh;
  width: 100vw;
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
}

a{

}

.dashButton{
  background-color: #ff8f43;
}

.activityButton{
  background-color: #ff5d0d ;
  color: white !important;
}

.LogoutButton{
  background-color: #c42700;
}

.HomeButton{
  background-color: #f73100;
}

//Schedule page

.scheduleText{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.scheduleWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calender{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
}

.calender button,
.calender select{
  margin: 15px;
}

.calender button{
  width: 100%;
  height: 50px;
  font-size: x-large;
  margin-top: 90px;
}

.calender select{
  height: 40px;
  font-size: large;
}

/*login screen*/
.vertical{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical img{
  transform: scale(0.7);
}

.login {
  width: 70%;
  height: 50px;
  line-height: 35px;
  font-size: x-large;
  font-weight: bold;
}

//menu bar
.menu-top{
  width: 100%;
  background-color: orange;
  padding: 5px;
  margin-bottom: 10px;
}

// activities
.scheduleList {
  padding: 0;
}

.scheduleList li {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  color:#fff;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.pastGoals {
  background:#FE8E44;
}

.currentGoal {
  background:#FE5C11;
}

.nextGoals {
  background:#FE8E44;
}

