.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;

}

.userImg{
  height: 25%;
  width: 25%;
  border-radius: 50%;
  align-self: center;
}

.userProfile{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.wrap{
  display: flex;
  flex-direction: column;
}

.userProfile h1
{
  align-self: center;
}

#badges{
  padding-top: 20px;
  padding-bottom: 20px;
}

#badges ul{
  display: flex;
align-items: center;
  justify-content: space-between;
}

#badges ul li{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #1b6d85;
  list-style: none;

}