$zombie-primary-color: #35a67c;
$zombie-secondary-color: #6bd8ab;
$zombie-tertiary-oolor: #007650;
$body-bg: #ffffff;

$primary-color: #FF5D0D;
$secondary-color: #ff8f43;
$tertiary-color: #c42700;

.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $body-bg;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.center-block{
  width: 100%;
}

//home

.bodyHome{
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.userImg{
  height: 10em;
  width: 10em;
  border-radius: 50%;
  align-self: center;
  padding: 10px;
}

.userProfile{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 100%;
  width: 80%;
  justify-content: center;
}

.wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.userProfile h1
{
  align-self: center;
}

#badges{
  padding-top: 20px;
  padding-bottom: 20px;
}

#badges ul{
  display: flex;
align-items: center;
  justify-content: space-between;
}

#badges ul li{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  list-style: none;
}

.humanStatus{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.kmStatus {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message{
  align-self: center;
}

.selected {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.status{
  margin: 20px;
}

.backgroundImg.human{
  background-image: url("../../../public/img/human.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
  width: 165px;
}

.backgroundImg.zombie{
@extend .backgroundImg.human;
  background-image: url("../../../public/img/zombie.svg");
  width: 203px;
  
}

//Schedule page

.scheduleText{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.scheduleWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.calender{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
}

.calender button,
.calender select{
  margin: 15px;
}

.calender button{
  width: 100%;
  height: 50px;
  font-size: x-large;
  margin-top: 90px;
}

.calender select{
  height: 40px;
  font-size: large;
}

/*login screen*/
.vertical{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical img{
  transform: scale(0.7);
}

.login {
  width: 70%;
  height: 50px;
  line-height: 35px;
  font-size: x-large;
  font-weight: bold;
}

//menu bar
.menu-top{
  width: 100%;
  background-color: orange;
  padding: 40px;
  margin-bottom: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu-top .btn{
  color: white;
  text-decoration: none;
}


// Schedules
.scheduleList {
  padding: 0;
}

.scheduleList li {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  color:#fff;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.pastGoals {
  background:#FE8E44;
  width: 100%; margin: 10px 0;
  padding: 10px;
  list-style-type: none;
   color:#fff;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.currentGoal {
  background:#FE5C11;
  width: 100%; margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  color:#fff;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.nextGoals {
  background:#78909C;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  color:#fff;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.scheduleBody{
  width: 70%;
}

.schedule_week_goal{
  margin-top: 11px;
  margin-right: 11px;
}

.schedule_week_count{
  margin-top: 11px;
  margin-left: 11px;
}

//graphs

.graph1{
  max-width: 800px;
  max-height: 800px;
}

//schedule Progress bar
.progress_bar {
  display: flex;
  max-width: 70%;
  padding-left: 0px;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.progress_bar_item {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  list-style: none;
  margin: 5px 5px 25px 5px;
  border-radius: 15px;
  background-color: grey;
}

.progress_bar_item p {
  color: orange;
  position: relative;
  top: 45px;
  font-size: 10px;
  text-align: center;
}

.progress_bar_item_past_success {
  background-color: #4cae4c;
}

.progress_bar_item_past_fail {
  background-color: red;
}

.progress_bar_item_current {
  background-color: orange;
}

.progress_bar_item_future {
  background-color: grey;
}

.progress_bar_legend {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  line-height: 1;
  align-items: center;
}

.progress_bar_legend_title {

}

.progress_bar_legend_item {
  display: flex;
}

.progress_bar_legend_text {
  color: orange;
  padding-bottom: 0px;
}

.progress_bar_legend_color {
  width: 75px;
  height: 15px;
  border-radius: 10px;
  margin-right: 20px;
}

.progress_bar_legend_color_success {
  background-color: #4cae4c;
}

.progress_bar_legend_color_fail {
  background-color: red;
}

.progress_bar_legend_color_current {
  background-color: orange;
}

.progress_bar_legend_color_future {
  background-color: grey;
}

.progress_bar_legend_items{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
}

.progressBar{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
}