$zombie-primary-color: #35a67c;
$zombie-secondary-color: #6bd8ab;
$zombie-tertiary-oolor: #007650;
$body-bg: #ffffff;

$primary-color: #FF5D0D;
$secondary-color: #ff8f43;
$tertiary-color: #c42700;

.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $body-bg;
  flex-direction: column;
  padding: 0;
  width: 100%;
}


.center-block{
  width: 100%;
}

.ZombieWrap{
  color: $zombie-tertiary-oolor;
}

//home

.bodyHome{
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.userImg{
  height: 10em;
  width: 10em;
  border-radius: 50%;
  align-self: center;
  padding: 10px;
}

.userProfile{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 100%;
  width: 80%;
  justify-content: center;
}

.wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.userProfile h1
{
  align-self: center;
}

.zombiebtn{
  background-color: $zombie-tertiary-oolor;
  border: $zombie-secondary-color;
  z-index: 100;
}

.zombiebtn:hover{
  background-color: $zombie-primary-color;
}

.humanStatus{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.kmStatus {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message{
  align-self: center;
}

.selected {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.status{
  margin: 20px;
}

.backgroundImg.human{
  background-image: url("../../../public/img/human.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
  width: 165px;
}

.backgroundImg.zombie{
@extend .backgroundImg.human;
  background-image: url("../../../public/img/zombie.svg");
  width: 203px;
  
}

//Schedule page

.scheduleText{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.scheduleWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*login screen*/
.login {
  width: 80%;
  height: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login h3 , p , ul li{
  font-weight: bold;
}

.loginBtn{
  min-width: 40%;
}

.logo {
 background-image: url("../../../public/img/logo_test1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 100px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: -10px;
}

#infoZombie{
  background-image: url("../../../public/img/humanrun_3.gif");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 350px;
  width: 326px;
}

//menu bar
.menu-top{
  width: 100%;
  background-color: $primary-color;
  padding: 40px;

  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu-top .btn{
  color: white;
  text-decoration: none;
}

.menu-top.zombie{
  background-color: $zombie-primary-color;
}

// Schedules
.scheduleList {
  padding: 0;
}

.scheduleList li {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  color:#fff;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.pastGoals {
  background:#FE8E44;
  width: 100%; margin: 10px 0;
  padding: 10px;
  list-style-type: none;
   color:#fff;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.currentGoal {
  background:#FE5C11;
  width: 100%; margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  color:#fff;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.nextGoals {
  background:#78909C;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  color:#fff;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.scheduleBody{
  width: 70%;
}

.schedule_week_goal{
  margin-top: 11px;
  margin-right: 11px;
}

.schedule_week_count{
  margin-top: 11px;
  margin-left: 11px;
}

//dashboard

.graph1{
  max-width: 800px;
  max-height: 800px;
}

.graph2{
  @extend .graph1;
  margin-top: 15px;

}

//schedule Progress bar
.progress_bar {
  display: flex;
  max-width: 70%;
  padding-left: 0px;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.progress_bar_item {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  list-style: none;
  margin: 5px 5px 25px 5px;
  border-radius: 15px;
  background-color: grey;
}

.progress_bar_item p {
  color: orange;
  position: relative;
  top: 45px;
  font-size: 10px;
  text-align: center;
}

.progress_bar_item_past_success {
  background-color: #4cae4c;
}

.progress_bar_item_past_fail {
  background-color: red;
}

.progress_bar_item_current {
  background-color: orange;
}

.progress_bar_item_future {
  background-color: grey;
}

.progress_bar_legend {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  line-height: 1;
  align-items: center;
}

.progress_bar_legend_title {

}

.progress_bar_legend_item {
  display: flex;
}

.progress_bar_legend_text {
  color: orange;
  padding-bottom: 0px;
}

.progress_bar_legend_color {
  width: 75px;
  height: 15px;
  border-radius: 10px;
  margin-right: 20px;
}

.progress_bar_legend_color_success {
  background-color: #4cae4c;
}

.progress_bar_legend_color_fail {
  background-color: red;
}

.progress_bar_legend_color_current {
  background-color: orange;
}

.progress_bar_legend_color_future {
  background-color: grey;
}

.progress_bar_legend_items{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
}

.progressBar{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
}

//glitch

.glitch * {
  transform: skewX(0deg);
  animation: shift 4s ease-in-out infinite alternate;
}

@keyframes shift{
  0%,40%, 44%, 58%, 61%, 65%,69%,73%,100%{
    transform:skewX(0deg);
  }
  41%{
     transform: skewX(10deg);
  }
  42%{
     transform:skewX(-10deg);
  }
  59%{
     transform:skewX(40deg) skewY(10deg);
  }
  60%{
    transform:skewX(-40deg) skewY(-10deg);
  }
  63%{
    transform:skewX(10deg) skewY(-5deg);
  }
  70%{
    transform:skewX(-50deg) skewY(-20deg);
  }
  71%{
    transform:skewX(10deg) skewY(-10deg);
  }
}

//flickr

$ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background:#121010;


@mixin scanlines($color, $height: 1px, $angle: 0, $opacity: 0.2) {
  position: relative;
  &:after {
    background-image: repeating-linear-gradient(to bottom, transparent 0 ,transparent $height, $color $height, $color $height * 2);
    background-size: 100% $height * 2, cover;
    transform-origin: 50% 50%;
    transform: rotate($angle);
    content: '';
    opacity: $opacity;
    position: absolute;
    top: -150%;
    left: -150%;
    right: -150%;
    bottom: -150%;
  }
}

.background{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  @extend .wrap;
}

.backgroundZombie {
 @extend .background;
  @extend .wrap;
  @include scanlines($zombie-secondary-color, 1px, 0deg, 0.3);

}


